<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="gou.manos.thewixerssoundboard">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">



        <activity
            android:name=".ActivityFanis_dieta"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ActivityRap_dieta"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".ActivityRap_fifa_me_aderfo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityFanis_fifa_me_aderfo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityDj_Rap"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityFifa_Fanis"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityBasket_Rap"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityBasket_Alex"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityBasket"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityBar"
            android:screenOrientation="portrait" />
        <activity
            android:name=".InformationActinity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".splashScreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />



        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>